main {
    margin: 5%;
}

body{
    background-color: #f4f4f4;
}

.mensaje {
    padding: 2% 4%;
    background-color: #e2f1fd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-weight: bold;
}

span {
    font-weight: bolder;
}

.ir-a-inicio {
    background-color: #ffba44; 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.ir-a-inicio:hover {
    background-color: #ba8833; 
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* Estilos para pantallas más pequeñas (hasta 767px) */
@media screen and (max-width: 767px) {
    main {
        margin: 3%;
    }

    .mensaje {
        padding: 3% 4%;
    }

    .ir-a-inicio {
        margin-top: 5%;
        font-size: 1.1em;
    }
}

/* Estilos para pantallas medianas (768px a 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        margin: 4%;
    }

    .mensaje {
        padding: 2% 3%;
    }

    .ir-a-inicio {
        font-size: 1.2em;
    }
}

/* Estilos para pantallas grandes (1024px en adelante) */
@media screen and (min-width: 1024px) {
    main {
        margin: 5%;
    }

    .mensaje {
        padding: 1.5% 4%;
    }

    .ir-a-inicio {
        font-size: 1.3em;
    }
}
