body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.formulario-paciente {
    max-width: 80%; 
    margin: 0 auto; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #ffba44; 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ba8833;
}

#mensaje-confirmacion-paciente {
    margin-top: 20px;
    color: #28A745; 
}

.domicilio {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.inputCasa {
    width: calc(50% - 5px); 
}

.inputNumero {
    width: calc(20% - 5px); 
}

.radios {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.radios label {
    margin-right: 1px;
}

@media only screen and (max-width: 600px) {
    .formulario-paciente {
        max-width: 100%; 
    }

    .domicilio,
    .radios {
        flex-direction: column; 
    }

    .inputCasa,
    .inputNumero {
        width: 100%;
    }
}
