body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.formulario-paciente {
    max-width: 50%; 
    margin: 4% auto; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 8px;
}

label, p {
    font-weight: bold;
}

input,
textarea {
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.radios label {
    display: inline-block;
    width: auto;
    margin-right: 10%;
}

#masculino, #femenino {
    display: inline-block;
    width: auto;
}

button {
    background-color: #ffba44; 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color:#ba8833;
}

#mensaje-confirmacion-paciente {
    margin-top: 20px;
    color: #28A745; 
}

@media only screen and (max-width: 600px) {
    .formulario-paciente {
        max-width: 100%; 
    }
}
