*{
    --color-primario: #aacff0;
    --color-secundario: #ffba44;
    --color-terciario: #eff8ff;
}

.menuVis a{
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 767px) {
    /* Estilos para pantallas pequeñas */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0px;
        overflow-x: hidden; 
        min-height: 100vh;
        background-color: #eff8ff;
    }
    
    header {
        display: grid;
        background-color: var(--color-primario);
        grid-template-columns: 4.5em 78% 4.5em;
        align-items: center;
    }
    .logo{
        grid-column: 1;
        margin: 1em;
    }

    .logo img{
        width: 4em;
    }
    .titulo{
        grid-column: 2;
        margin: 0.6em;
    }
    .menu-boton{
        align-items: center;
        display: block;
        grid-column: 3;
    }
    .menu-boton:hover{
        background-color: #6288aa;
        cursor: pointer;
    }
    .menu-boton img{
        display: block;
        width: 4em;
        padding-left: 0.2em;
    }
    
    .menuVis{
        position: absolute;
        background-color: var(--color-primario);
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        width: 15em;
        height: 122%;
        z-index: 2;
    }
    .menuVis ul{
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .menuVis li{
        padding: 1em;
        border-bottom: 1px solid black;
        margin: 0;
    }
    .menuVis li:hover{
        background-color: #6288aa;
        cursor: pointer;
    }
    
    .menuOcul{
        display: none;
    }
    .mensaje-bienvenida{
        color: white;
        font-size: 0.7em;
        position: absolute;
        top: 15%;
        left: 2%;
        z-index: 1;
        user-select: none;
    }
    
    .mensaje-bienvenida h2{
        font-size: 3em;
        font-weight: 800;
    }
    .mensaje-bienvenida p{
        font-size: 1.4em;
    }
    #carrusel{
        width: 100%;
        height: 45vh;
        object-fit: cover;
        overflow: hidden;
    }
    #carrusel img{
        width: 100%;
        height: 100%;
    }
    
    .botones-iniciar{
        background-color: var(--color-primario);
        display: grid;
        flex-direction: row
    }
    
    .botones-iniciar button{
        font-size: 1.2em;
        margin: 1em;
        background-color: var(--color-secundario);
        padding: 0.5em;
        border-radius: 2em 2em;
    }
    .botones-iniciar button:hover{
        background-color:#ba8833;
        cursor: pointer;
    }
    
    #inicio-sesion{
        background-color: #aacff0;
        grid-column: span 2;
    }
    
    #inicio-sesion a{
        text-decoration: none;
        color: black;
    }
    
    #inicio-sesion:hover{
        background-color: #6288aa;
    }

    footer{
        background-color: var(--color-primario);
        display: block;
        text-align: center;
    }
    
    footer p{
        font-size: 1.2em;
        display: block;
        margin: 0;
        padding: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tabletas */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0px;
        overflow-x: hidden; 
        min-height: 100vh;
        background-color: #eff8ff;
    }
    
    header {
        display: grid;
        background-color: var(--color-primario);
        grid-template-columns: 4.5em 88% 4.5em;
        align-items: center;
    }
    .logo{
        grid-column: 1;
        margin: 1em;
    }

    .logo img{
        width: 4em;
    }
    .titulo{
        grid-column: 2;
        margin: 0.6em;
    }
    .menu-boton{
        align-items: center;
        display: block;
        grid-column: 3;
    }
    .menu-boton:hover{
        background-color: #6288aa;
        cursor: pointer;
    }
    .menu-boton img{
        display: block;
        width: 4em;
        padding-left: 0.2em;
    }
    
    .menuVis{
        position: absolute;
        background-color: var(--color-primario);
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        width: 15em;
        height: 120%;
        z-index: 2;
    }
    .menuVis ul{
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .menuVis li{
        padding: 1em;
        border-bottom: 1px solid black;
        margin: 0;
    }
    .menuVis li:hover{
        background-color: #6288aa;
        cursor: pointer;
    }
    
    .menuOcul{
        display: none;
    }
    .mensaje-bienvenida{
        color: white;
        font-size: 1em;
        position: absolute;
        top: 15%;
        left: 2%;
        z-index: 1;
        user-select: none;
    }
    
    .mensaje-bienvenida h2{
        font-size: 3em;
        font-weight: 800;
    }
    .mensaje-bienvenida p{
        font-size: 1.4em;
    }
    #carrusel{
        width: 100%;
        height: 90vh;
        object-fit: cover;
        overflow: hidden;
    }
    #carrusel img{
        width: 100%;
        height: 100%;
    }
    
    .botones-iniciar{
        position: absolute;
        top: 60%;
        left: 0.5%;
        display: grid;
        flex-direction: row
    }
    
    .botones-iniciar button{
        font-size: 1.2em;
        margin: 1em;
        background-color: var(--color-secundario);
        padding: 0.8em;
        border-radius: 2em 2em;
    }
    .botones-iniciar button:hover{
        background-color:#ba8833;
        cursor: pointer;
    }
    #inicio-sesion{
        background-color: #aacff0;
        grid-column: span 2;
    }
    
    #inicio-sesion a{
        text-decoration: none;
        color: black;
    }
    
    #inicio-sesion:hover{
        background-color: #6288aa;
    }
    footer{
        background-color: var(--color-primario);
        display: block;
        text-align: center;
    }
    
    footer p{
        font-size: 1.5em;
        display: block;
        margin: 0;
        padding: 2em;
    }

}


@media screen and (min-width: 1024px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    overflow-x: hidden; 
    min-height: 100vh;
    background-color: #eff8ff;
}

header {
    display: grid;
    background-color: var(--color-primario);
    grid-template-columns: 7em 82% 5em 5em;
    gap: 1em;
    align-items: center;
}

.notificacion{
    grid-column: 3;
}

.notificacion:hover{
    cursor: pointer;
    background-color: #6288aa;
}

.notificacion img{
    padding-left: 1em;
    width: 3em;

}

.logo{
    grid-column: 1;
    margin: 1em;
}
.logo img{
    width: 6em;
}
.titulo{
    grid-column: 2;
    margin: 0.6em;
}
.menu-boton{
    align-items: center;
    display: block;
    grid-column: 4;
}
.menu-boton:hover{
    background-color: #6288aa;
    cursor: pointer;
}
.menu-boton img{
    display: block;
    width: 4em;
    padding-left: 0.2em;
}

.menuVis{
    position: absolute;
    background-color: var(--color-primario);
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 15em;
    height: 60em;
    z-index: 2;
}
.menuVis ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.menuVis li{
    padding: 1em;
    border-bottom: 1px solid black;
    margin: 0;
}
.menuVis li:hover{
    background-color: #6288aa;
    cursor: pointer;
}

.menuOcul{
    display: none;
}
.mensaje-bienvenida{
    color: white;
    font-size: 1.3em;
    position: absolute;
    top: 15%;
    left: 2%;
    z-index: 1;
    user-select: none;
}

.mensaje-bienvenida h2{
    font-size: 3em;
    font-weight: 800;
}
.mensaje-bienvenida p{
    font-size: 1.4em;
}
#carrusel{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    overflow: hidden;
}
#carrusel img{
    width: 100%;
    height: 100%;
}

.botones-iniciar{
    position: absolute;
    top: 60%;
    left: 0.5%;
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row
}

.botones-iniciar button{
    font-size: 1.2em;
    margin: 1em;
    background-color: var(--color-secundario);
    padding: 1em;
    border-radius: 2em 2em;
}
.botones-iniciar button:hover{
    background-color:#ba8833;
    cursor: pointer;
}

#inicio-sesion{
    background-color: #aacff0;
    grid-column: span 2;
}

#inicio-sesion a{
    text-decoration: none;
    color: black;
}

#inicio-sesion:hover{
    background-color: #6288aa;
}

footer{
    background-color: var(--color-primario);
    display: block;
    text-align: center;
}

footer p{
    font-size: 1.5em;
    display: block;
    margin: 0;
    padding: 2em;
}

}

