body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #eff8ff;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url(../IMG/HEADER.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    height: 45%; 
    margin: 0; 
}

nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
}

.features {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

#boton {
    background-color: #ffba44;
    height: 25px;
    border-radius: 5px;
    margin-left: 250px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    header {
        height: 50vh; 
    }
    #boton {
        margin-left: 0; 
    }
}
