body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.formTarjeta {
    background-color: white;
    border: solid black 1px;
    margin: 10px;
    padding: 50px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.formTarjeta form {
    display: flex;
    flex-direction: column;
}

select,
#numTarjeta,
#nombreTitular,
#Mes,
#codSeguridad {
    width: 100%;
    margin-bottom: 15px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

button {
    background-color: #28A745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}



@media only screen and (max-width: 767px) {
    .formTarjeta {
        padding: 20px;
    }

    #numTarjeta {
        width: 100%;
    }

    #nombreTitular {
        width: 100%;
    }

    #Mes,
    #codSeguridad {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .formTarjeta {
        padding: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .formTarjeta {
        padding: 50px;
    }
}
