body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.perfil-cuidadora {
    margin: 1em;
    display: flex;
    flex-direction: row;
    
}

.Lateral {
    background-color: rgb(162, 181, 199);
    padding: 1em;
    text-align: center;
}

.Lateral img {
    width: 100%;
    max-width: 15em;
    border-radius: 50%;
}

.Lateral h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.Lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.Central {
    display: block;
    padding: 1em;
    width: 90%;
}

.precio {
    border-radius: 2em;
    margin-top: 1em;
    background-color: #aacff0;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
}

.foro h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.opinion-cuidadora {
    background-color: rgb(162, 181, 199);
    margin-bottom: -1em;
    border-bottom: 1px solid #ddd;
    border-radius: 1em;
    padding: 0.5em;
    padding-left: 1em;
    width: 100%;
    box-sizing: border-box;
}

.usuario {
    font-weight: bold;
    color: #007BFF;
}

.calificacion {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.estrellas {
    color: #FFD700;
    margin-right: 5px;
}

.comentario {
    margin-top: 5px;
}

.boton-perfil {
    margin-top: 1em;
    background-color: #ffba44;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

.boton-perfil a {
    text-decoration: none;
    color: black;
}

.boton-perfil:hover {
    background-color: #ba8833;
    cursor: pointer;
}

.editar{
    background-color: #ffba44;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 2em;
}

@media only screen and (max-width: 767px) {
    .perfil-cuidadora {
        flex-direction: column;
    }

    .Lateral {
        padding: 1em;
        text-align: center;
    }

    .Lateral img {
        width: 100%;
        max-width: none;
        border-radius: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Lateral {
        padding: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .Lateral{
        padding: 1em;
    }
}