body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.perfil-paciente {
    margin: 1em;
    display: flex;
}

.Lateral {
    background-color: rgb(162, 181, 199);
    padding: 1em;
    text-align: center;
}

.Lateral img {
    width: 100%; 
    max-width: 15em;
    border-radius: 50%;
}

.Lateral h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.Lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.Lateral li {
    margin: 0;
    margin-top: 0.5em;
}

.Central {
    display: block;
    padding: 1em;
}

.editar{
    background-color: #ffba44;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 2em;
}

@media only screen and (max-width: 767px) {
    .perfil-paciente {
        flex-direction: column; 
    }

    .Lateral {
        padding: 1em;
        text-align: center;
    }

    .Lateral img {
        width: 50%;
        max-width: none;
        border-radius: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Lateral {
        padding: 4em;
    }
}

@media only screen and (min-width: 1024px) {
    .Lateral{
        padding: 5em;
    } 
}

